<?xml version="1.0"?>
<launch>


  <arg name="global_frame_id" default="map"/>

  <arg name="marker_size" default="4.7" />
  <arg name="max_new_marker_error" default="0.08"/>
  <arg name="max_track_error" default="0.2"/>

  <arg name="filtering_y_axis" default="15" />
  <arg name="filtering_z_axis" default="20" />
  <arg name="minimum_velocity" default="0.01" />
  <arg name="minimum_angular_velocity" default="0.02" />

  <arg name="publish_tf" default="true"/>
  <arg name="use_simulation_gui" default="false"/>
  <param name="robot_description" textfile="$(find dt_uwds3_scripts)/urdf/pr2.urdf"/>
  <!-- <rosparam file="$(find uwds3)/config/simulation/adream_static_entities.yaml" command="load" ns="local_costmap" /> -->
  <node name="map2base_psublisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0  base_footprint map"/>

  <node name="ar_perception_" pkg="dt_uwds3_scripts" type="ar_perception_node.py" args="" output="screen" respawn="false">
    <rosparam subst_value="true">
      use_simulation_gui: $(arg use_simulation_gui)
      filtering_y_axis: $(arg filtering_y_axis)
      filtering_z_axis: $(arg filtering_z_axis)
      minimum_velocity: $(arg minimum_velocity)
      minimum_angular_velocity: $(arg minimum_angular_velocity)

      global_frame_id: $(arg global_frame_id)
      publish_tf: $(arg publish_tf)

    </rosparam>
  </node>

</launch>
